<?xml version="1.0" encoding="utf-8"?><configuration>    <configSections>    </configSections>    <connectionStrings>
        <add name="DAL.Properties.Settings.GESTAOConnectionString" connectionString="Data Source=.;Initial Catalog=GESTAO;Persist Security Info=True;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.HANDBOOKConnectionString"
            connectionString="Data Source=CMAX;Initial Catalog=HANDBOOK;User ID=sa;Password=!05d@2y3#"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.GESTAOConnectionString1" connectionString="Data Source=.;Initial Catalog=GESTAO;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.HANDBOOKConnectionString1"
            connectionString="Data Source=CMAX;Initial Catalog=HANDBOOK;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.HANDBOOK_1ConnectionString"
            connectionString="Data Source=CMAXSERVER-1;Initial Catalog=HANDBOOK-01;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.IntranetConnectionString"
            connectionString="Data Source=PC-PEDRETTI;Initial Catalog=Intranet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.HANDBOOK_1ConnectionString1"
            connectionString="Data Source=CMAXSERVER-1;Initial Catalog=HANDBOOK-01;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.IntranetConnectionString1"
            connectionString="Data Source=CMAXSERVER-1;Initial Catalog=Intranet;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.handbook_01ConnectionString"
            connectionString="Data Source=CMAXSERVER-1;Initial Catalog=handbook-01;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.handbook_franquiaConnectionString"
            connectionString="Data Source=CMAXSERVER-1;Initial Catalog=handbook_franquia;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.HANDBOOK_FRANQUIAConnectionString1"
            connectionString="Data Source=CMAX;Initial Catalog=HANDBOOK_FRANQUIA;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.HANDBOOKConnectionString2"
            connectionString="Data Source=CMAX;Initial Catalog=HANDBOOK;Persist Security Info=True;User ID=Intranet"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.HANDBOOK_FRANQUIAConnectionString2"
            connectionString="Data Source=CMAX;Initial Catalog=HANDBOOK_FRANQUIA;Persist Security Info=True;User ID=Intranet"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.IntranetConnectionString2"
            connectionString="Data Source=CMAXSERVER-1;Initial Catalog=Intranet;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.IntranetConnectionString3"
            connectionString="Data Source=CMAXWEB\CMAX;Initial Catalog=Intranet;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.teste_jonasConnectionString"
            connectionString="Data Source=CMAX;Initial Catalog=teste_jonas;Persist Security Info=True;User ID=Intranet"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.teste_jonasConnectionString1"
            connectionString="Data Source=CMAX;Initial Catalog=teste_jonas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.teste_jonasConnectionString2"
            connectionString="Data Source=192.168.1.6;Initial Catalog=teste_jonas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.IntranetConnectionString4"
            connectionString="Data Source=CMAXWEB\CMAX;Initial Catalog=Intranet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.IntranetConnectionString5"
            connectionString="Data Source=192.168.1.8\CMAX;Initial Catalog=Intranet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.HANDBOOKConnectionString3"
            connectionString="Data Source=192.168.1.6;Initial Catalog=HANDBOOK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.TesteConnectionString" connectionString="Data Source=CMAX;Initial Catalog=Teste;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.HANDBOOKConnectionString4"
            connectionString="Data Source=192.168.1.6;Initial Catalog=HANDBOOK;Persist Security Info=True;User ID=Intranet;Password=!05D@2y3#"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.teste_jonasConnectionString4"
            connectionString="Data Source=192.168.1.6;Initial Catalog=teste_jonas;Persist Security Info=True;User ID=Intranet;Password=!05D@2y3#"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.Teste_IntranetConnectionString2"
            connectionString="Data Source=192.168.1.6;Initial Catalog=Teste_Intranet;Persist Security Info=True;User ID=Intranet;Password=!05D@2y3#"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.IntranetConnectionString8"
            connectionString="Data Source=CMAXWEB;Initial Catalog=Intranet;Persist Security Info=True;User ID=intranet;Password=intranet"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.teste_intranetConnectionString"
            connectionString="Data Source=CMAXWEB\CMAX;Initial Catalog=teste_intranet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.teste_intranetConnectionString1"
            connectionString="Data Source=192.168.1.8\CMAX;Initial Catalog=teste_intranet;Persist Security Info=True;User ID=intranet;Password=intranet"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.IntranetConnectionString6"
            connectionString="Data Source=192.168.1.8\CMAX;Initial Catalog=Intranet;Persist Security Info=True;User ID=intranet;Password=intranet"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.teste_jonasConnectionString3"
            connectionString="Data Source=192.168.1.6;Initial Catalog=teste_jonas;Persist Security Info=True;User ID=Intranet"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.JGMConnectionString" connectionString="Data Source=192.168.1.6;Initial Catalog=JGM;Persist Security Info=True;User ID=Intranet;Password=!05D@2y3#"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.TesteConnectionString1" connectionString="Data Source=192.168.1.6;Initial Catalog=Teste;Persist Security Info=True;User ID=Intranet;Password=!05D@2y3#"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.JGMConnectionString1" connectionString="Data Source=192.168.1.6;Initial Catalog=JGM;Persist Security Info=True;User ID=Intranet"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.Intranet_HOMOLOGACAOConnectionString"
            connectionString="Data Source=192.168.1.8\CMAX;Initial Catalog=Intranet_HOMOLOGACAO;Persist Security Info=True;User ID=intranet"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.IntranetConnectionString7"
            connectionString="Data Source=192.168.1.8\CMAX;Initial Catalog=Intranet;Persist Security Info=True;User ID=intranet"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.Intranet_HOMOLOGACAOConnectionString1"
            connectionString="Data Source=192.168.1.8\CMAX;Initial Catalog=Intranet_HOMOLOGACAO;Persist Security Info=True;User ID=intranet;Password=intranet"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.HomologacaoConnectionString"
            connectionString="Data Source=192.168.1.6;Initial Catalog=Homologacao;Persist Security Info=True;User ID=Intranet;Password=!05D@2y3#"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.CRIARIConnectionString" connectionString="Data Source=192.168.1.6;Initial Catalog=CRIARI;Persist Security Info=True;User ID=Intranet;Password=!05D@2y3#"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.IntranetCriatiffConnectionString"
            connectionString="Data Source=CMAXWEB;Initial Catalog=IntranetCriatiff;Persist Security Info=True;User ID=intranet;Password=intranet"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.STMARCA_FRANQUIAConnectionString"
            connectionString="Data Source=192.168.1.100;Initial Catalog=STMARCA_FRANQUIA;Persist Security Info=True;User ID=intranet;Password=intranet"
            providerName="System.Data.SqlClient" />
    </connectionStrings>  <runtime>    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">      <dependentAssembly>        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />      </dependentAssembly>    </assemblyBinding>  </runtime><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>