<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.5" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net472" />
  <package id="JWT" version="4.0.0" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.12" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net40" />
  <package id="Twilio" version="5.16.3" targetFramework="net40" requireReinstallation="True" />
</packages>